@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #030637;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #3C0753;
}

.section_propertie {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section {
    margin-top: 100px;
}

.container {
    max-width: 1280px;
    height: 60px;
    margin: 0 auto;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_content a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
}

span {
    color: #9AF6CB;
}

.header_content p {
    padding: 5px;
    border: none;
    background-color: #030637;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
}

.section_container {
    display: flex;
    gap: 18px;
    align-items: start;
}

.section_container button {
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    padding: 5px;
}

.section_container__img img {
    border-radius: 15px;
}

.section_container__inf:not(:first-child) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ffffff;
    min-width: 300px;
}

.section_container__inf__title {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 800;
    color: #ffffff;
}

.section_container__inf__rating {
    color: #ffe600;
}

.aboutFilm {
    color: #ffffff;
}